/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Style */
.whale-section{
    width: 100%;
    height: 100%;
    background-image: url(../assets/home/background-home-mobile.jpg);
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-position: center;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.header__logo img{
    width: 36px;
}

.header__menu{
    position: absolute;
    right: 0;
    top: -70rem;
    width: 15rem;
    background-color: rgba(255,255,255,.05);
    backdrop-filter: blur(80px);
    height: 100vh;
    padding: 7.5rem 0 2rem 2rem;
    transition: top 1.5s;
}

.showMenu{
    top: 0;
}

.header__menu__list{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem
}

.header__menu__list li{
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__menu__list li:hover{
    border-right: 3px solid rgb(151, 151, 151);
    transition: border-right 1s;
}

.header__menu__list li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

}

.selected{
    border-right: 3px solid #fff;
}

.close-icon{
    position: absolute;
    right: 1.6rem;
    top: 2.3rem;
    cursor: pointer;
}

.header__humburger svg{
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    padding: 2rem 1rem;
}

.text__pre-head p{
    color: hsl(231, 77%, 90%);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2rem
    
}

.text__head h1{
    color: #fff;
    font-weight: 400;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-size: 72px;
}

.text__main p{
    color: hsl(231, 77%, 90%);
    font-weight: 400;
    line-height: 1.5rem;
}

.content__link a{
    background-color: #fff;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Bellefair', serif;
    color: #000;
}

@media screen and (min-width: 480px){
    .header{
        padding: 3rem;
    }
    
    .header__menu{
        width: 20rem;
    }
    
    .content{
        gap: 3rem;
    }
    
    .text{
        padding: 2rem 4rem;
    }
}

@media screen and (min-width: 768px){
    .whale-section{
        background-image: url(../assets/home/background-home-tablet.jpg);
    }
    
    .header{
        padding: 3rem 3rem 3rem 3rem;
    }
    
    .header__logo img{
        width: 50px;
    }
    
    .header__menu{
        right: -40rem;
        top: 2.5rem;
        width: 40rem;
        height: 4rem;
        padding: 0;
        display: flex;
        align-items: end;
        transition: right 1.5s;
    }

    .showMenu{
        right: 0;
    }

    .close-icon{
        position: absolute;
        right: 3rem;
        top: 1.35rem;
        cursor: pointer;
    }

    
    .header__menu__list{
        flex-direction: row;
        gap: 2.5rem;
        padding: 0 3rem;
        
    }
    
    .header__menu__list li{
        list-style: none;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 2.6rem;
    }

    .header__menu__list li:hover{
        border-right: none;
        border-bottom: 3px solid rgb(151, 151, 151);
        transition: border-bottom 1s;
    }
    
    .header__menu__list li a{
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    
    }
    
    .selected{
        border-right: none;
        border-bottom: 3px solid #fff;
    }
    
    .content{
        gap: 2rem;
    }
    
    .text{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: 1rem;
        padding: 6rem 12rem;
    }
}

@media screen and (min-width: 900px){
    .whale-section{
        background-image: url(../assets/home/background-home-desktop.jpg);
    }
    
    .header{
        padding: 3rem 0 3rem 3rem;
    }

    .mobile{
        display: none;
    }
    
    .header__logo img{
        width: 50px;
    }
    
    .header__menu{
        position: static;
        width: 44rem;
        height: 6rem;
        padding: 0;
    }
    
    .header__menu__list li{
        list-style: none;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 3.6rem;
    }
    
    .header__menu__list{
        gap: 4rem
    }
    
    .content{
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        justify-content: space-between;
        text-align: left;
        gap: 1rem;
        margin-top: 10rem;
    }
    
    .text{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0 1rem 1rem 1rem;
        padding: 0 5rem 0 6rem;
    }
    
    .text__pre-head p{
        color: hsl(231, 77%, 90%);
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.2rem;
        font-size: 28px;
    }
    
    .text__head h1{
        color: #fff;
        font-weight: 400;
        font-family: 'Bellefair', serif;
        text-transform: uppercase;
        font-size:150px;
    }
    
    .text__main p{
        color: hsl(231, 77%, 90%);
        font-weight: 400;
        line-height: 2.5rem;
        font-size: 22px;
        
    }

    .content__link {
        margin: 6rem 6rem 0 0;
        align-items: end;
        display: flex;
        justify-content: end;
    }
    
    .content__link a{
        background-color: #fff;
        height: 18rem;
        width: 18rem;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 28px;
        font-family: 'Bellefair', serif;
        color: #000;
    }
}

@media screen and (min-width: 1200px){  
    .header__menu{
        width: 55rem;
    }

    .header__menu__list{
        gap: 7rem
    }
    
    .content{
        position: relative;
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        justify-content: space-between;
        text-align: left;
        gap: 10rem;
        margin-top: 10rem;
        width: 80%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    
    
}